nav .nav-link
{
    font-size: medium;
    color: white;
}
.text-grey::placeholder
{
    color:grey;
}
.nav-link:hover
{
    color:grey;
}
.section
{
    color: white;
}
th, td
{
    padding: 10px;
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }
